{% block body %}

	{% block javascripts %}

		{% block importmap %}
			{{ importmap('calendar') }}
		{% endblock %}

	{% endblock %}

	<div>
		<h2>Choisissez une plage de dates</h2>
		<input type="date" class="reservation start"></input>
	<input type="date" class="reservation end"></input>
<button>Confirmer</button>


{% for item in reservations %}
	<div class="error-message">
		<h3>Vous ne pouvez pas réservez cette date du :<h3>
				<div class="reservation-date flex gap-2" data-reservation-start={{item.getReservationStart().format("Y-m-d")}} data-reservation-end={{item.getReservationEnd().format("Y-m-d")}} > 
					<h3 class="reservation-start"  >{{item.getReservationStart().format('d/m/Y')}}<h3>
					<h3>au<h3>
					<h3 class = "reservation-end" >{{item.getReservationEnd().format('d/m/Y')}}<h3>
				</div>
	</div>
{% endfor %}

						{% endblock %}
					</section>

				</body>
			</html>
