<nav class="navbar bg-#C6B8A7  border-b px-4">
    <div class="navbar-start">
        <div class="dropdown">
            <label tabindex="0" class="btn btn-ghost btn-circle">
                {{ ux_icon('lucide:menu', { class: 'h-6 w-6' }) }}
            </label>
            <ul tabindex="0" class="menu dropdown-content bg-#C6B8A7  rounded-box shadow mt-3 w-52 p-2 z-10">
                <li><a href="{{ path('app_home') }}">Homepage</a></li>
            </ul>
        </div>
    </div>

    <div class="navbar-end flex items-center gap-3">
        <a href="{{ path('search') }}" class="btn btn-ghost btn-circle">
            {{ ux_icon('lucide:search', { class: 'h-6 w-6' }) }}
        </a>

        <div class="dropdown dropdown-end">
            <label tabindex="0" class="btn btn-ghost btn-circle">
                {{ ux_icon('lucide:user-circle', { class: 'h-6 w-6' }) }}
            </label>
            <ul tabindex="0" class="menu dropdown-content bg-beige rounded-box shadow mt-3 w-52 p-2 z-10">
                 {% if app.user %}
                    {% if is_granted('ROLE_ADMIN') %}
                        <li><a href="{{ path('admin') }}">Mon dashboard</a></li>
                        <li><a href="{{ path('room_new') }}">Rédiger une annonce</a></li>
                        <li><a href="{{ path('app_logout') }}">Déconnexion</a></li>
                    {% else %}
                        <li><a href="{{ path('my_reservations') }}">Mes réservations</a></li>
                        <li><a href="{{ path('app_logout') }}">Déconnexion</a></li>
                    {% endif %}
                {% else %}
                    <li><a href="{{ path('app_login') }}">Se connecter</a></li>
                    <li><a href="{{ path('app_signin') }}">S'inscrire</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>
